@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/app/controllers/operations/receive-goods.js"></script>

<div ng-app="receiveGoods-app" ng-controller="receiveGoods-ctrl">
    <a class="btn btn-sm btn-default">დამატება</a>
</div>